:root {
    --primaryColor: #FFEDA5;
    --CTA: #600004;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", serif;
}

.container {
    height: 100vh;
    padding: 0 50px;
    box-sizing: border-box;
    background-color: var(--primaryColor);

}


.container .main {
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    align-items: center;

}

.main h1 {
    font-size: 80px;
    font-weight: bold;
    color: var(--CTA);
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    /* Tersembunyi untuk menciptakan efek */
    border-right: 3px solid var(--CTA);
    /* Simulasi kursor */
    animation: typing 2s steps(30, end) infinite, blink 4s step-end infinite;
}

.main p {
    position: relative;
    display: flex;
    align-self: flex-end;
    right: 150px;
    font-size: 35px;
    font-weight: 600;
    color: var(--CTA);
    margin-top: -50px;
    opacity: 0;
    animation: slideDown 2s ease-in-out forwards;

}


/* section about me */
.container .about {
    width: 100%;
    background-color: red;
}

@keyframes slideDown {
    0% {
        /* Mulai dari di luar kontainer (di atas) */
        opacity: 0;
        /* Tidak terlihat */
    }

    50% {
        opacity: 1;

        /* Mulai terlihat */
    }

    100% {
        top: 0;
        /* Teks berada di posisinya yang benar */
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100vh;
    }
}

@keyframes blink {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: var(--CTA);
        width: max-content;

    }
}

@keyframes gradient-animation {
    from {
        background-position: right;
    }

    to {
        background-position: left;
    }
}



/* responsive website */

@media screen and (max-width: 520px) {


    .container {
        width: 100%;
        overflow: hidden;

    }

    .container .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
    }

    .main h1 {
        display: block;
        white-space: normal;
        text-align: center;
        font-size: 62px;
        line-height: 1.3;
        max-width: 99%;
        margin: 0 auto;

    }

    .main p {
        position: relative;
        margin-top: 0;
        right: 0;
        display: flex;
        align-self: center;
        text-align: center;
        font-size: 25px;
    }

}