<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RoychanGill</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">

    <!-- Import Font from Google Font -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
    </style>
</head>

<body>

    {% include 'navbar.html' %}

    <div class="container">
        <section class="main">
            <h1>Gilbrant Roychan kholbi.</h1>
            <p>as Python Developer</p>
        </section>
    </div>
    <section class="about">
        {%block about_me%}
        {%include about %}
        {%endblock%}
    </section>

    <script>
        window.addEventListener('scroll', function () {
            var navbar = document.querySelector('.navbar');
            if (window.scrollY > window.innerHeight) {
                navbar.classList.add('scrolled');
            } else {
                navbar.classList.remove('scrolled');
            }
        });
    </script>
</body>

</html>